.calendar{  
    max-width: 800px;
    font-family: serif;
    font-weight: bold;
    color: black;
    margin: 10% 10%;
}
.month{
    text-align: center;
    background: white;
    font-size: 80px;
    letter-spacing: 1px;
    color: black;
    border:3px solid lightgrey;
}
table, th, td{
    width: 100%;
    table-layout: fixed;
    text-align: center;
    font-size: 27px;
    border-collapse: collapse;
    border:5px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
tr, th, td{
    padding: 15px;
}
th{
    background: grey;
    color: white;
    font-family: arial black;
}
td{
    background: black;
    color: white;
}
td:hover{
    background: gray;
}